@import "normalize.css";
@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: $color-body;

  #app {
    background-color: $color-app-bg;
    height: 900px;
    width: 100%;
    min-width: 1000px;

    display: grid;
    grid-template-columns: 15% 50% 30%;
    grid-template-rows: max-content 1.5fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    padding: 20px;

    .widget {
      background-color: $color-widget-bg;
      border-radius: $border-radius-widget;
    }

    .text-sub {
      color: $color-text-sub;
    }

    .text-main {
      color: $color-text-main;
    }

    .controls {
      grid-row: 1 / -1;
    }

    .input-container,
    .main,
    .today-forecast,
    .air-conditions {
      grid-column: 2 / 3;
    }

    .daily-sidebar {
      grid-column: 3 / -1;
      grid-row: 2 / -1;
    }

    .input-container {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px 10px;

      input {
        padding: 0.6em 1em;
        background-color: inherit;
        border-radius: $border-radius-input;
        border: none;
        outline: none;
        font-size: 24px;
        width: 100%;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;

        &:active {
          outline: 2px solid white;
        }
      }
    }

    .main {
      display: flex;
      justify-content: space-between;
      padding: 10px 100px;

      .info-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        padding-top: 10px;

        .city-name {
          font-size: 48px;
        }

        .conditions {
          margin-top: 10px;
          font-size: 22px;
        }

        .temp {
          margin-top: auto;
          margin-bottom: 0;
          font-size: 52px;
        }
      }
      .image-container {
        align-self: center;
      }
    }
  }
}
