$color-body: #030303;
$color-app-bg: #0b131e;
$color-widget-bg: #202b3b;
$color-text-main: #eff1f5;
$color-text-sub: #9399a2;

$border-radius-widget: 30px;
$border-radius-input: 15px;
$widget-paddings: 35px 35px;
$widget-margin-top: 1em;
